
 
<!-- Course Management UI -->
<div class="main-content" >
      <div class="container-fluid" *ngIf="roles !== 'Student'">
 
            <!-- Search and Create Toolbar -->
            <div class="toolbar">
                  <div class="toolbar-actions">
                        <mat-form-field class="equal-width mat-mdc-text-field-wrapper" appearance="outline">
                              <mat-label>Search Courses</mat-label>
                              <input matInput placeholder="Course name, department, instructor"
                                    [(ngModel)]="filterValue" (keyup)="applyFilter()" />
                        </mat-form-field>
 
                        <button mat-raised-button color="primary" class="equal-width" (click)="createNew()">
                              Add New Course
                        </button>
                  </div>
            </div>
 
            <!-- Course Table -->
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 full-width-table table">
 
                  <!-- Course Name -->
                  <ng-container matColumnDef="courseName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Course Name</th>
                        <td mat-cell *matCellDef="let r">
                              <ng-container *ngIf="r._editing; else readCourseName">
                                    <mat-form-field appearance="outline" class="form-field">
                                          <input matInput placeholder="Course Name" [(ngModel)]="r.courseName"
                                                name="courseName" required pattern=".*[a-zA-Z].*" />
                                          <mat-error *ngIf="!r.courseName">Course name is required</mat-error>
                                          <mat-error *ngIf="hasOnlySymbolsOrNumbers(r.course)">
                                                Course name must contain at least one alphabet.
                                          </mat-error>
 
                                    </mat-form-field>
                              </ng-container>
                              <ng-template #readCourseName>{{ r.courseName }}</ng-template>
                        </td>
                  </ng-container>
 
                  <!-- Course Code -->
                  <ng-container matColumnDef="courseCode">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
                        <td mat-cell *matCellDef="let r">
                              <ng-container *ngIf="r._editing; else readCode">
                                    <mat-form-field appearance="outline" class="form-field">
                                          <input matInput placeholder="Code" [(ngModel)]="r.courseCode"
                                                name="courseCode" required pattern=".*[a-zA-Z].*" />
                                          <mat-error *ngIf="!r.courseCode">Course code is required</mat-error>
                                          <mat-error *ngIf="hasOnlySymbolsOrNumbers(r.courseCode)">
                                                CourseCode name must contain at least one alphabet.
                                          </mat-error>
 
                                    </mat-form-field>
                              </ng-container>
                              <ng-template #readCode>{{ r.courseCode }}</ng-template>
                        </td>
                  </ng-container>
 
                  <!-- Department -->
                  <ng-container matColumnDef="department">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Department</th>
                        <td mat-cell *matCellDef="let r">
                              <ng-container *ngIf="r._editing; else readDept">
                                    <mat-form-field appearance="outline" class="form-field">
                                          <input matInput placeholder="Department" [(ngModel)]="r.department"
                                                name="department" required pattern=".*[a-zA-Z].*" />
                                          <mat-error *ngIf="!r.department">Department is required</mat-error>
                                          <mat-error *ngIf="hasOnlySymbolsOrNumbers(r.department)">
                                                Department name must contain at least one alphabet.
                                          </mat-error>
 
                                    </mat-form-field>
                              </ng-container>
                              <ng-template #readDept>{{ r.department }}</ng-template>
                        </td>
                  </ng-container>
 
                  <!-- Instructor -->
                  <ng-container matColumnDef="instructorId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Instructor</th>
                        <td mat-cell *matCellDef="let r">
                              <ng-container *ngIf="r._editing; else readInstructor">
                                    <mat-form-field appearance="outline" class="form-field">
                                          <mat-select [(ngModel)]="r.instructorId" required>
                                                <mat-option *ngFor="let instructor of instructors"
                                                      [value]="instructor.instructorId">
                                                      {{ instructor.instructorId }} - {{ instructor.name }}
                                                </mat-option>
                                          </mat-select>
                                          <mat-error *ngIf="!r.instructorId">Instructor is required</mat-error>
                                    </mat-form-field>
                              </ng-container>
                              <ng-template #readInstructor>{{ getInstructorName(r) }}</ng-template>
                        </td>
                  </ng-container>
 
                  <!-- Enroll Start -->
                  <ng-container matColumnDef="enrollStart">
                        <th mat-header-cell *matHeaderCellDef>Enroll Start</th>
                        <td mat-cell *matCellDef="let r">
                              <ng-container *ngIf="r._editing; else readStart">
                                    <mat-form-field appearance="outline" class="form-field">
                                          <input matInput [matDatepicker]="startPicker" [(ngModel)]="r.enrollStart"
                                                name="enrollStart" required [min]="minDate" />
                                          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                                          <mat-datepicker #startPicker></mat-datepicker>
                                          <mat-error *ngIf="!r.enrollStart">Start date is required</mat-error>
                                    </mat-form-field>
                              </ng-container>
                              <ng-template #readStart>{{ r.enrollStart | date: 'mediumDate' }}</ng-template>
                        </td>
                  </ng-container>
 
                  <!-- Enroll End -->
                  <ng-container matColumnDef="enrollEnd">
                        <th mat-header-cell *matHeaderCellDef>Enroll End</th>
                        <td mat-cell *matCellDef="let r">
                              <ng-container *ngIf="r._editing; else readEnd">
                                    <mat-form-field appearance="outline" class="form-field">
                                          <input matInput [matDatepicker]="endPicker" [(ngModel)]="r.enrollEnd"
                                                name="enrollEnd" required [min]="r.enrollStart" />
                                          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                                          <mat-datepicker #endPicker></mat-datepicker>
                                          <mat-error *ngIf="!r.enrollEnd">End date is required</mat-error>
                                    </mat-form-field>
                              </ng-container>
                              <ng-template #readEnd>{{ r.enrollEnd | date: 'mediumDate' }}</ng-template>
                        </td>
                  </ng-container>
 
                  <!-- Actions -->
                  <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef>Actions</th>
                        <td mat-cell *matCellDef="let r">
                              <ng-container *ngIf="r._editing">
                                    <button mat-icon-button (click)="r._new ? addNewRow(r) : saveEdit(r)">
                                          <mat-icon class="icon-save">save</mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="cancelEdit(r)">
                                          <mat-icon class="icon-cancel">cancel</mat-icon>
                                    </button>
                              </ng-container>
                              <ng-container *ngIf="!r._editing">
                                    <button mat-icon-button (click)="viewModules(r)">
                                          <mat-icon class="icon-view">visibility</mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="startEdit(r)">
                                          <mat-icon class="icon-edit">edit</mat-icon>
                                    </button>
                                    <button mat-icon-button (click)="confirmDelete(r)">
                                          <mat-icon class="icon-delete">delete</mat-icon>
                                    </button>
                              </ng-container>
                        </td>
                  </ng-container>
 
                  <!-- Table Rows -->
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let r; columns: displayedColumns;"></tr>
            </table>
 
            <!-- Paginator -->
            <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
 
      </div>
</div>
 