<div class="container-fluid p-0">

  <div class="row bg-primary align-items-center p-3">
    <div class="col-md-6">
      <h2 class="text-white ps-4 m-0">Q_Learn</h2>
    </div>
    <div class="col-md-6 text-end">
      <img [src]="logo" alt="Logo" class="logo me-4" height="50">
    </div>
  </div>


  <div class="position-relative">
    <img [src]="background" alt="Background" class="w-100 background-image">
    
    <div class="overlay-text text-white text-center">
      <h1>Welcome to QLearn</h1>
      <p>Your journey to knowledge starts here</p>
   <button class="btn btn-light btn-lg mt-3" (click)="log()">Explore Courses</button>


    </div>
  </div>
</div>

<router-outlet></router-outlet>
