.progress-bar {
  font-weight: 600;
  font-size: 1.1rem;
  text-align: center;
  line-height: 25px; /* vertically center the text */
}
.progress-container {
  width: 100%;
}
.progress {
  background-color: #e9ecef;
  border-radius: 20px;
}
.progress-bar {
  transition: width 0.6s ease;
}
